canvas {
  display: none;
}

.tablet {
  width: 1920px;
  height: 1200px;
  position: fixed;
  background-image: url('images/bg_tablet.png');
  background-size: cover;
  text-align: center;
}

.title {
}
